<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to "/", class: "navbar-item" do %>
      <img src="https://hanamirb.org/images/logo.png" width="16" height="16" alt="Hanami">
    <% end %>
    <a class="navbar-burger" data-target="navbar-menu" aria-label="menu" aria-expanded="false">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
  <div id="navbar-menu" class="navbar-menu">
    <div class="navbar-start">
      <%= content_for("navbar-start") %>
    </div>
    <div class="navbar-end">
      <% if current_account? %>
        <div class="navbar-item">
          <%= _("Logged in as: %<account>s") % {account: current_account} %>
        </div>
        <%= link_to routes.path(:sign_out), class: "navbar-item is-tab" do %>
          <span class="icon-text">
            <span class="icon">
              <i class="fas fa-arrow-right-from-bracket"></i>
            </span>
            <span><%= _("Sign out") %></span>
          </span>
        <% end %>
      <% else %>
        <%= link_to routes.path(:sign_up), class: "navbar-item is-tab" do %>
          <span class="icon-text">
            <span class="icon">
              <i class="fas fa-user-plus"></i>
            </span>
            <span><%= _("Sign up") %></span>
          </span>
        <% end %>
        <%= link_to routes.path(:sign_in), class: "navbar-item is-tab" do %>
          <span class="icon-text">
            <span class="icon">
              <i class="fas fa-arrow-right-to-bracket"></i>
            </span>
            <span><%= _("Sign in") %></span>
          </span>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
