<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to "/", class: "navbar-item" do %>
      <img src="https://hanamirb.org/images/logo.png" width="16" height="16" alt="Hanami">
    <% end %>
    <a class="navbar-burger" data-target="navbar-menu" aria-label="menu" aria-expanded="false">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
  <div id="navbar-menu" class="navbar-menu">
    <div class="navbar-start">
      <%= content_for("navbar-start") %>
    </div>
    <div class="navbar-end">
      <% if current_account? %>
        <div class="navbar-item">
          <%= _("Logged in as: %<account>s") % {account: current_account} %>
        </div>
        <%= link_to _("Sign out"), routes.path(:sign_out), class: "navbar-item is-tab" %>
      <% else %>
        <%= link_to _("Sign up"), routes.path(:sign_up), class: "navbar-item is-tab" %>
        <%= link_to _("Sign in"), routes.path(:sign_in), class: "navbar-item is-tab" %>
      <% end %>
    </div>
  </div>
</nav>
