<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookshelf</title>
    <%= favicon_tag %>
    <%= stylesheet_tag "app" %>
  </head>
  <body>
    <section class="section">
      <% if flash[:alert] %>
        <div class="notification is-danger">
          <button class="delete"></button>
          <%= flash[:alert] %>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <div class="notification is-success">
          <button class="delete"></button>
          <%= flash[:notice] %>
        </div>
      <% end %>
    </section>
    <%= yield %>
    <div id="root"></div>
    <%= javascript_tag "app" %>
  </body>
</html>
