<%= render "books/navbar" %>

<section class="section">
  <h1 class="title is-1">Bookshelf::Views::Books::Index</h1>
  <h2 class="subtitle is-3">Books</h2>

  <div class="columns">
    <div class="column">
      <table class="table is-fullwidth is-hoverable">
        <thead>
          <tr>
            <th><%= _("Title") %></th><th><%= _("Author") %></th>
          </tr>
        </thead>
        <tbody>
          <% books.each do |book| %>
            <tr>
              <td><%= book[:title] %></td><td><%= book[:author] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
