<%= render "books/navbar" %>

<section class="section">
  <h1 class="title is-1">Bookshelf::Views::Books::New</h1>
  <h2 class="subtitle is-3">New book</h2>

  <div class="columns">
    <div class="column">
      <%= form_for :book, routes.path(:create_book), class: "box" do |f| %>
        <div class="field">
          <%= f.label _("Title"), for: :title, class: "label" %>
          <div class="control">
            <%= f.text_field :title, class: "input" %>
          </div>
          <%= errors[:title] %>
        </div>
        <div class="field">
          <%= f.label _("Author"), for: :author, class: "label" %>
          <div class="control">
          <%= f.text_field :author, class: "input" %>
          </div>
          <%= errors[:author] %>
        </div>
        <div class="field">
          <div class="control">
            <%= f.submit _("Create"), class: "button is-link"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
